.app_header {
  z-index: 50 !important;
  height: 10vh !important;
  .app_menu_wrapper {
      height: inherit;
      .app_menu {
          display: flex;
          align-items: center;
        height: 64px;
      .ant-menu-horizontal {
          border-bottom: none !important;
      }

      .icon_menu {
          .ant-menu-item,
          .ant-menu-submenu-title {
              padding: 0 5px;
          }
          padding: 0 5px;
          &.ant-menu-submenu,
          &.ant-menu-item {
              border-bottom: 2px solid transparent;
              &:hover {
                  border-bottom: 2px solid transparent;
              }
          }
      }
  }

  .app_logo {
      height: 45px !important;
      @media (max-width: 768px) {
          height: 35px;
      }
  }

      .header_search {
          border-radius: 50px;
          padding-left: 1em;
          padding-right: 1em;
      }

      .header_user {
          height: 35px;
          width: 35px;
          border-radius: 50px;
      }

      .app_header_mobile {
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
  }
  .header_shadow{
      box-shadow: rgba(25, 28, 31, 0.04) 0px 8px 16px, rgba(25, 28, 31, 0.04) 0px -1px 0px;
  }
}
